@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Kalam:wght@300&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
    font-size: 22px;
}
#logo_link{
    padding-top: 5px;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    width: 100px;
    height: 71px;
    background: none;
    transition: width 2s, height 4s;
}
nav a:hover{
    width: 300px;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: transparent;
}
nav{
    display: flex;
    justify-content: space-around;
}
#logo_link{
    padding: 5px;
    justify-self: center;
    align-self: center;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero_msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero_box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero_msg h1{
    color: #a2d2ff;
}
#hero_msg h1, #hero_msg h4{
    text-align: center;
}
#hero_msg h4{
    color: white;
}
#hero_img {
    width: 100%;
}
.button_box{
    text-align: center;
}
.home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers_cards{
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 200px;
}
.camping_cards{
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    grid-column: 5/7;
    grid-row: 2/3;
    margin: 200px;
}
.rapids_cards{
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    grid-column: 8/9;
    grid-row: 2/3;
    margin: 200px;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg{
    grid-column: 6/10;
    grid-row: 6/7;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #ffc8dd;
}
main section{
    text-align: center;
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: #bde0fe;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
}
nav a:hover{
    background-color: #ffc8dd;
    color: black;
}
.home-title{
    color: black;
    font-family: "Cinzel Decorative", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}
h4{
    color: black;
}
.book, .join{
    background-color: #bde0fe;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;   
}
.card_img{
    width: 10em;
    border: 10px solid black;
    transition: transform 2s;
    box-shadow: 5px 5px 10px #ffc8dd;
}
.card_img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.book:hover, .join:hover{
    background-color: #ffc8dd;
    color: black;
}
#background{
    background-color: #a2d2ff;
}
.msg{
    background-color: #ffc8dd;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #ffc8dd;
}
.msg h2{
    color: black;
    font-family: Kalam, Helvetica, sans-serif;
}
.msg p{
    color: black;
    font-size: .8em ;
    padding-bottom: 15px;
}
.logo{
    width: 80px;
}
.icon{
    width: 50px;
    padding-top: 10px;
}
footer{
    background-color: #ffc8dd;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p a:hover{
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}
footer a{
    background-color: #ffc8dd;
    color: black;
    text-decoration: none;
}
footer a:hover{
    background-color: #bde0fe;
    color: black;
}
footer .social img{
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
     