@import url('https://fonts.googlhttps://fonts.googleapis.com/css2?family=Lobster&family=Mynerve&family=Shantell+Sans:wght@300&display=swapeapis.com/css?family=Lobster|Shantell+Sans');
body{
    height: 100%;
    background-color: white;
    color: black;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
}
#logo_link{
    padding-top: 5px;
}
nav {
    background-color: #F2C5CD;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: black;
  }
  nav a:hover {
    color: white;
    background-color: #EC1E43;
  }
.logo{
    width: 100px;
}
#logo_link{
    padding: 5px;
    justify-self: center;
    align-self: center;
}
#hero_img{
    width: 100%;
}
.poem{
    text-align: left;
    font-size: 2em;
}
.button_box{
    background-color: gray;
    width: 150px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;  
    text-align: center; 
}
.button_box:hover{
    background-color: #EC1E43;
    color: black;
}
#prjct{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
.msg h2{
    text-align: left;
    font-size: 2em;
}
#feedback{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.msg{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 50px;
    text-align: left;
}
.msg2{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 50px;
    text-align: left;
}
footer{
    background-color: #ffc8dd;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p a:hover{
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}
footer a{
    background-color: #F2C5CD;
    color: black;
    text-decoration: none;
}
footer a:hover{
    background-color: #EC1E43;
    color: black;
}
footer .social img{
    padding-top: 15px;
}
.social{
    text-align: left;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#text{
  text-align: left;
}
.Hero_about{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}
.hero{
  grid-row: 1/4;
  grid-column: 1/2;
}
.hero_txt_1 {
  grid-column: 2/4;
  grid-row: 2;
  color: black;
  text-align: justify;
}
.me_1{
  text-align: justify;
  background-color: white;
  font-size: 2em;
}
#me{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
}
#myImg{
  max-width: 80%;
  grid-column: 1/4;
  grid-row: 1/2;
}
.me_2{
  font-size: 2em;
  text-align: justify;
  grid-column: 3/6;
  grid-row: 1/2;
  color: black;
}
.abot{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imah{
  grid-column: 1/2;
}

.contact_section{
grid-column: 2/3;
}
form{ 
  display: grid;
}
.iimmgg{
  width: 780px;
  height: 586.23px;
}
form{
  padding: 20px;
}