#hero_img{
    width: 100%;
    border-radius: 0%;
    border: 0px;
}
body{
    background-color: gray;
    max-height: fit-content;
}
.home_images{
    width: 100%;
    background-color: gray;
}
img{
    width: 15%;
    height: auto;
    border: 80px gray;
    border-radius: 50%;
    padding: 400px solid rgb(81, 81, 81);
    border: 40px solid rgb(81, 81, 81);
    margin: 50px;
}
body{
    text-align: center;
}