body{
    background: black;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}
.logo{
    width: 80px;
}
nav a{
    text-align: center;
    color: rgb(0,146,255);
    text-decoration: none;
    padding: 35px;
    font-family: ComicSansMS, ComicSans, cursive;
}
nav{
    float: right;
}
nav a:hover{
    background-color: rgb(0,146,255);
    color: #bde0fe;   
}
#content{
    max-width: 100%;
    margin: 0 auto;
    font-size: 22px;
}
#hero_img{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero_box {
    position: relative;
    text-align: center;
    color: white;
}
.hero_text {
    position: absolute;
    top: 5%;
    left: 5%;
    color: rgb(0,146,255);
}
.Ass1{
    width: 200px;
    position: absolute;
    bottom: 1%;
    left: 5%;
    text-align: center;
    color: beige;
}
.Ass2{
    width: 200px;
    position: absolute;
    bottom: 1%;
    left: 40%;
    text-align: center;
    color: beige;
}
.Ass3{
    width: 200px;
    position: absolute;
    bottom: 1%;
    right: 5%;
    text-align: center;
    color: beige;
}
h1{
    text-align: left;
    font-size:400%;
    font-family: URW Chancery L, cursive;
}
footer{
    background: rgb(0,146,255);
    background: linear-gradient(90deg, rgba(0,146,255,1) 0%, rgba(1,42,73,1) 25%, rgba(0,0,0,1) 50%, rgba(1,42,73,1) 75%, rgba(0,146,255,1) 100%);
    color: rgb(0, 146, 255);
    padding: 25px 50px;
    margin-top: -20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.social{
    size: 50px;
}
.ig{
    padding-left: 100px;
    padding-right: 100px;
}
.twitter{
    padding-left: 100px;
    padding-right: 100px;
}
.fb{
    padding-left: 100px;
    padding-right: 100px;
}