  h1{
    text-align: center;
  }
  nav,footer{
    text-align: center;
    color: white;
    background-color:  steelblue;
    padding: 10px;
  }
  nav {
    background-color: steelblue;
    padding: 10px;
  }
  a:hover {
    background-color: white;
    color: steelblue;
    margin: 40px;
  }
  h1 {
    color: steelblue;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  p {
    padding: 10px;
  }
  main p{
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
  background-color: white;
  color: steelblue;
}
 /* footer {
    background-color: steelblue;
    color: white;
  }*/
  footer p{
    font-size: 20px;
    margin: 20px auto;
  }
  /* to centralize an image use  margin: 0 auto;
  to centralize a heading or nav of footer i.e block elements use  text-align: center;
  */
  